body {
    background-color: #212529 !important;
}

.courses {
    display: flex;
    margin-bottom: 15px;
}

.courses > *:first-child {
    margin-left: 0;
}

.courses > *:last-child {
    margin-right: 0;
}

.courses > * {
    margin-right: 5px;
    margin-left: 5px;
}

.course-item {
}
.course-item-title {
    font-weight: 700;
    font-size: 18px;
}
.course-item-value {
    font-size: 32px;
    font-weight: 300;
}

.course-item-value.top {
    color: #f50a1a;
}

.course-item-value.bottom {
    color: #09db1b;
}

.footer__link {
    margin: 0 15px;
    color: azure;
}
